@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url(yQOMOX5hR0-6LTD879t-PQ.woff2) format('woff2'), url(JEgmtEDzc-IH8jBshQXrYA.woff) format('woff');
}